@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari + Chrome */
}

html,
body {
  overflow-y: scroll;
}

.handdrawn-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.marquee-track {
  pointer-events: none;
}

.marquee-track a,
.marquee-track img {
  pointer-events: auto;
}

.marquee-clone {
  transform: translateX(100%);
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}


/* Hand-drawn curved stroke */
.handdrawn-underline::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 12px;


  border-bottom: 3px solid #4D964F;
  border-radius: 100%;

  transform: rotate(-2deg);
  opacity: 0.9;
}




.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee-track {
  will-change: transform;
}

.marquee-viewport:hover .marquee-track {
  animation-play-state: paused !important;
}

.marquee-viewport::-webkit-scrollbar {
  display: none;
}

.marquee-viewport {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none !important;
    width: max-content;
  }
}

@keyframes softBlink {

  0%,
  100% {
    box-shadow: 0 0 0 rgba(155, 91, 7, 0);
  }

  50% {
    box-shadow: 0 0 12px rgba(236, 6, 6, 0.6);
  }
}

.animate-soft-blink {
  animation: softBlink 1.4s ease-in-out infinite;
}


@media (min-width: 1200px) {
  .home-page-class{
    min-height: 900px; 
  }
}